- content_for :head do
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Droid+Sans:400,700'
  = stylesheet_link_tag 'swagger-ui'
  = javascript_include_tag 'swagger'
    
#message-bar.swagger-ui-wrap

#swagger-ui-container.swagger-ui-wrap