<% content_for :title, "Types of courts and tribunals" %>

<h1>Magistrates' courts</h1>

<p>Magistrates' courts deal with crimes like theft and motoring offences, as well as things like unpaid council tax.</p>

<h1>County courts</h1>

<p>County courts handle civil disputes, including small claims, evictions and compensation cases.</p>

<h1>Crown Court</h1>
<p>The Crown Court handles serious criminal cases in different court buildings around the country.</p>

<h1>Family courts</h1>
<p>Family courts deal with divorce, child custody, adoption and cases involving children being taken into care.</p>

<h1>High Court</h1>
<p>The High Court hears very important or high value cases in the Royal Courts of Justice or 'district registry' courts around the country.</p>

<h1>Probate registry</h1>
<p>Probate registries are offices which handle applications for the right to deal with a deceased person's estate.</p>

<h1>Tribunal</h1>
<p>Tribunals are special types of court set up to settle different types of dispute, eg over employment, immigration or welfare benefits.</p>
