// Sass doesn't really like variables to be in a partial, so they're here..
$main_color_light: #89bf04;
$main_color_dark: #547f00;
$http_get_color: #0f6ab4;
$http_post_color: #10a54a;
$http_put_color: #c5862b;
$http_delete_color: #a41e22;
$code_bg_color: #fcf6db;
$code_border_color: #e5e0c6;
$form_color: #0f6ab4;
$error_color: #cc0000;
$notice_color: #007f00;

$body_width: 1020px;
$main_column_width: 1020px;
$main_column_margin_right: 0px;

@import "compass/reset";
@import "compass/css3";
@import "zass";
@import "fonts";
@import "global";
@import "custom_mixins";

body {
  article{
    ul{
      margin:0;
      padding:0;
      li{
        margin:0;
        padding:0;
      }
    }
  }


  #content_message {
    margin: 0;
    font-style: italic;
    color: #999999;
  }
  #header {
    background-color: $main_color_light;
    padding: 6px;
    a#logo {
      font-size: 0.8em;
      font-weight: bold;
      text-decoration: none;
      background: transparent image_url("http://swagger.wordnik.com/images/logo_small.png") no-repeat left center;
      padding: 20px 0 20px 40px;
      color: white;
    }
    form#api_selector {
      @include float_right;
      .input {
        @include float_left;
        margin: 0 10px 0 0;
        input {
          font-size: 0.9em;
          padding: 3px;
          margin: 0;
        }
        input#input_baseUrl {
          width: 400px;
        }
        input#input_apiKey {
          width: 200px;
        }
        a#explore {
          display: block;
          text-decoration: none;
          font-weight: bold;
          padding: 6px 8px;
          font-size: 0.9em;
          color: white;
          background-color: $main_color_dark;
          @include border-radius(4px);
          &:hover {
            background-color: $main_color_dark;
          }
        }
      }
    }
  }
  p#colophon {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    border-top: 1px solid #dddddd;
    @include droid_sans;
    color: #999999;
    font-style: italic;
    a {
      text-decoration: none;
      color: $main_color_dark;
    }
  }
  ul#resources {
    padding: 0 5px;
    font-size: 0.6em;
    li.resource {
      border-bottom: 1px solid #dddddd;
      &:last-child {
        border-bottom: none;
      }
      div.heading {
        border: 1px solid transparent;
        @include no_float;
        h2 {
          color: #999999;
          padding-left: 0px;
          @include float_left;
          @include droid_sans_bold;
          a {
            color: #999999;
            &:hover {
              color: black;
            }
          }
        }
        ul.options {
          @include horizontal_list;
          @include float_right;
          margin: 0;
          li {
            color: #666666;
            font-size: 0.9em;
            a {
              color: #aaaaaa;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                color: black;
              }
            }
          }
        }
      }
      &:hover, &.active {
        div.heading {
          h2 {
            a {
              color: black;
            }
          }
          ul.options {
            li {
              a {
                color: #555555;
              }
            }
          }
        }
      }
      ul.endpoints {
        li.endpoint {
          ul.operations {
            li.operation {
              &.get {
                @include li_colored_operation($http_get_color);
              }
              &.post {
                @include li_colored_operation($http_post_color);
              }
              &.put {
                @include li_colored_operation($http_put_color);
              }
              &.delete {
                @include li_colored_operation($http_delete_color);
              }
            }
          }
        }
      }
    }
  }
}
