{"http_interactions":[{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/SE19NH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Wed, 05 Mar 2014 08:39:25 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/SE19NH"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 51.506518389962785, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65825, \"ward\": 8316, \"council\": 2490}, \"wgs84_lon\": -0.1098483864851184, \"postcode\": \"SE1 9NH\", \"easting\": 531277, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"34497\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 34497, \"codes\": {\"ons\": \"E02000618\"}, \"name\": \"Lambeth 001\", \"country\": \"E\", \"type_name\": \"Middle Layer Super Output Area (Full)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OMF\"}, \"900002\": {\"parent_area\": 900006, \"generation_high\": 21, \"all_names\": {}, \"id\": 900002, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area (shared)\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAE\"}, \"69157\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 69157, \"codes\": {\"ons\": \"E01003016\"}, \"name\": \"Lambeth 001D\", \"country\": \"E\", \"type_name\": \"Lower Layer Super Output Area (Full)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OLF\"}, \"900006\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 900006, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAS\"}, \"2247\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 2247, \"codes\": {\"unit_id\": \"41441\"}, \"name\": \"Greater London Authority\", \"country\": \"E\", \"type_name\": \"Greater London Authority\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"GLA\"}, \"65825\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 65825, \"codes\": {\"gss\": \"E14001008\", \"unit_id\": \"25036\"}, \"name\": \"Vauxhall\", \"country\": \"E\", \"type_name\": \"UK Parliament constituency\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"WMC\"}, \"11822\": {\"parent_area\": 2247, \"generation_high\": 21, \"all_names\": {}, \"id\": 11822, \"codes\": {\"gss\": \"E32000010\", \"unit_id\": \"41446\"}, \"name\": \"Lambeth and Southwark\", \"country\": \"E\", \"type_name\": \"London Assembly constituency\", \"generation_low\": 1, \"country[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/sl58le","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Wed, 12 Mar 2014 13:48:17 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/sl58le"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 51.419488624658548, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65552, \"ward\": 9808, \"council\": 2556}, \"wg[...]
[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/NE12+8AQ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Wed, 05 Mar 2014 08:38:40 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/NE12+8AQ"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 55.019046034198688, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65720, \"ward\": 9168, \"council\": 2530}, [...]
[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/SE240NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Mon, 10 Mar 2014 17:47:45 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/SE240NG"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 51.452776214191921, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65808, \"ward\": 8315, \"council\": 2490}, \"[...]
[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/NE128AQ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Wed, 05 Mar 2014 08:59:01 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/NE128AQ"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 55.019046034198688, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65720, \"ward\": 9168, \"council\": 2530}, \"[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/EX1+1UH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Fri, 07 Mar 2014 01:55:09 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/EX1+1UH"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 50.721320433600503, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 66033, \"ward\": {\"county\": 14749, \"district\": 3775}, \"council\": {\"county\": 2249, \"district\": 2290}}, \"wgs84_lon\": -3.5250755232628328, \"postcode\": \"EX1 1UH\", \"easting\": 292442, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"900001\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}[...]
[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/SE24+0NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Mon, 10 Mar 2014 16:22:03 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/SE24+0NG"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 51.452776214191921, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65808, \"ward\": 8315, \"council\": 2490}, [...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/EH22+4AD","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Wed, 12 Mar 2014 23:29:23 GMT"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/EH22+4AD"]},"body":{"encoding":"ASCII-8BIT","string":"{\"wgs84_lat\": 55.866862801264588, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 14441, \"ward\": 20820, \"council\": 2587},[...]
[...]
